.faq__container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.faq__title-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1rem;
    flex-grow: 3;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 70px;
}

.faq-content__container {
    display: flex;
    flex-direction: column;
    flex-basis: 1rem;
    justify-content: center;
    gap: 45px;
}

@media (min-width: 768px) {
    .faq-content__container {
        flex-direction: row;
    }

    .faq-image {
        width: 385px;
        max-width: none;
    }

    .faq__container {
        max-width: none !important;
    }
}

@media (min-width: 1280px) {
    .faq__container {
        max-width: 1230px !important;
    }
}


.faq__title {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: var(--fs-section-title);
}

.faq__title-description {
    font-size: 19px;
    margin-bottom: 5px;
}

.faq__title-description,
.faq-question {
    color: var(--dark-txt-color);
    font-family: var(--text-font);
}

.faq-question {
    font-size: 17px;
    font-weight: bold;
}

.faq-answer {
    color: var(--light-txt-color);
    font-family: var(--text-font);
    font-size: 17px;
    display: none;
}

.faq-answer.active {
    display: block;
}

.questions__container {
    display: grid;
    grid-template-rows: 0.5fr, 1fr;
    grid-row-gap: 10px;
    margin-top: 20px;
    max-width: 490px;
}

.faq-border {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--title-color);
    display: block;
    position: relative;
    bottom: -20px;
    opacity: 25%;
}

.faq-button {
    background-color: var(--bg-color);
    border: none;
    width: 2.5%;
    height: 2.5%;
    color: var(--title-color);
}

.faq-button:hover {
    cursor: pointer;
}

.faq-question__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq-button__hline,
.faq-button__vline {
    color: var(--title-color);
    stroke-width: 3px;
    display: block;
}

.faq-button__vline.active{
    display: none;
}