@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ==== colors ==== */
    --title-color: rgb(4, 15, 115);
    --text-block-color: rgb(66, 72, 117);
    --benefit-description-color: rgb(106, 110, 143);
    --note-text-highlighted: rgb(255, 91, 46);
    --note-symbol: rgb(255, 91, 46);
    --note-symbol-hover: #e63200;
    --note-text: rgb(66, 72, 117);
    --bg-color: #fff6ed;

    /* ==== fonts ==== */
    --text-block-font: 'Poppins', sans-serif;
    --title-font: 'Rubik', sans-serif;

    /* ==== button vars ==== */
    --btn-bg-color: #ff5b2e;
    --btn-bg-hover-color: #040f73;
    --btn-color: #fff;
    --btn-font-family: "Open Sans", sans-serif;

    /* ==== global root properties ==== */
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    font-size: 15px;
    font-family: var(--btn-font-family);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%
}

.container {
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;

    @media (min-width: 992px) {
        max-width: 1230px;
        padding: 0 15px;
    }
}

.btn {
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: var(--btn-color);
    font-family: var(--btn-font-family);
    font-weight: 700;
    padding: 16px 28px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
}
.btn:hover {
    top: 1px;
    background-color: var(--btn-bg-hover-color);
  }