@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ==== colors ==== */
    --title-color: rgb(4, 15, 115);
    --dark-txt-color: rgb(66, 72, 117);
    --light-txt-color: rgb(106, 110, 143);
    --orange-color: rgb(255, 91, 46);
    --orange-hover-color: rgb(230, 50, 0);
    --bg-color: #fff6ed;
    --card-bg-color: #fff;

    /* ==== pet icon colors ==== */
    --icon-blue: rgb(144, 204, 255);
    --icon-red: #ff5b2e;
    --icon-yellow: rgb(250, 191, 62);

    /* ==== fonts ==== */
    --title-font: 'Rubik', sans-serif;
    --text-font: 'Poppins', sans-serif;

    /* ==== font sizes ==== */
    --fs-main-title: 46px;
    --fs-main-title-md: 58px;
    --fs-main-title-lg: 62px;
    --fs-section-title: 28px;
    --fs-card-title: 22px;

    /* ==== button vars ==== */
    --btn-bg-color: #ff5b2e;
    --btn-bg-hover-color: #040f73;
    --btn-color: #fff;
    --btn-font-family: "Open Sans", sans-serif;

    /* ==== global root properties ==== */
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    font-size: 15px;
    font-family: var(--btn-font-family);
    text-size-adjust: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%
}

/* ==== utility classes ==== */

.container {
    max-width: 100%;
    padding-inline: 24px;
    margin-inline: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 690px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 930px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1230px;
    }
}

.container-change {
    align-items: center;

    @media (min-width: 767px) {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 60px;
    }
}

.btn {
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: var(--btn-color);
    font-family: var(--btn-font-family);
    font-weight: 700;
    padding: 16px 28px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
}

.btn:hover {
    top: 1px;
    background-color: var(--btn-bg-hover-color);
}

.fixed {
    width: 100%;
    position: fixed;
}
