.header {
    min-height: 80px;
    padding: 20px 0;
}

.header__burger-menu {
    display: none;

    @media (min-width: 992px) {}
}

.header__logo {
    position: relative;
    margin-bottom: 20px;

    @media (min-width: 992px) {
        margin-bottom: 0px;
    }
}

.header__logo:hover {
    top: 1px;
}


.header__navbar {
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
}

.header__menu {
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .header__menu {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
    }

}

.menu__item a {
    color: var(--light-txt-color);
    font-family: var(--text-font);
    transition: all 0.3s ease;
    position: relative;
}

.menu__item a:hover {
    color: var(--orange-color);
}

.menu__item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: var(--orange-color);
    transition: all 0.3s ease;
}

.menu__item a:hover::after {
    width: 100%;
}

.header__social {
    text-align: center;
}

.social__icon svg {
    fill: var(--orange-color);
}

.social__icon svg:hover {
    fill: var(--orange-hover-color);
}