.dog {
    align-items: center;
}

.dog__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dog__subtitle {
    color: var(--title-color);
    font-size: var(--fs-main-title);
    font-weight: bold;
    font-family: var(--title-font);
}

.dog__image {
    width: 20px;
    height: 24px;
    display: block;
     max-width: 100%;
}