.about__container {
    padding-top: 50px;
    padding-bottom: 60px;
}

.about__title-container {
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 120px;
    grid-template-areas:
        "title"
        "description";
    justify-items: center;
    align-items: center;
}

.about__title {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 42px;
    text-align: center;
    grid: title;
}

.about__description {
    color: var(--dark-txt-color);
    font-family: var(--text-font);
    font-size: 19px;
    text-align: center;
    grid: description;
}

.about__card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "card_j"
        "card_a"
        "card_m";
    grid-gap: 40px;
}

@media (min-width: 768px) {
    .about__card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .container {
        max-width: none !important;
    }

    .about__picture {
        width: 120px !important;
        height: 120px !important;
    }
}

@media (min-width: 992px) {
    .about__card-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 0px !important;
        grid-column-gap: 40px !important;
    }

    .container {
        max-width: 1230px !important;
    }
}

.about__card {
    background-color: white;
    border-radius: 35px;
    display: grid;
    grid-template-rows: 1.5fr 0.1fr 0.1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "picture"
        "name"
        "underline"
        "feedback"
        "date";
}

#about__jockie {
    grid-area: card_j;
}

#about__axel {
    grid-area: card_a;
}

#about__milo {
    grid-area: card_m;
}

.about__picture {
    grid-area: picture;
    width: 75px;
    height: 75px;
    margin: 10px;

}

.about__card .about__title {
    grid-area: name;
    font-size: 24px;
}

.about__underscore {
    grid-area: underline;
}

.about__feedback {
    color: var(--light-txt-color);
    font-family: var(--text-font);
    font-size: 17px;
    text-align: center;
    grid-area: feedback;
    padding-left: 15px;
    padding-right: 15px;
}

.about__date {
    color: var(--orange-color);
    font-family: var(--text-font);
    font-size: 13px;
    grid-area: date;
}