.brand-cards {
    padding-top: 60px;
    padding-bottom: 60px;
}

.brand-cards__card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 40px;
    background-color: rgb(251, 241, 231);
    height: 8em;
}

.brand-cards__card-image {
    max-height: 100%;
    position: absolute;
}

.brand-cards__content {
    position: relative;
    padding-inline: 50px;
}

.brand-cards__carousel-button-next.swiper-button-next,
.brand-cards__carousel-button-prev.swiper-button-prev {
    color: var(--grey-color);
}