.hero {
    padding-top: 50px;
}

.hero__title {
    font-family: var(--title-font);
    font-size: var(--fs-main-title);
    color: var(--title-color);
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: var(--fs-main-title-md);
    }
}

@media screen and (min-width: 992px) {
    .hero__title {
        font-size: var(--fs-main-title-lg);
    }
}

.hero__subtitle {
    font-family: var(--text-font);
    font-size: 19px;
    color: var(--light-txt-color);
    margin-bottom: 30px;
}

.hero__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    @media (min-width: 992px) {
        flex-direction: row;
        align-items: center;
    }
}

.hero__btn {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 33px;
}

.hero__btn svg {
    width: 24px;
    margin: auto 0;
}

.hero__call {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--title-color);
    font-weight: 700;
}

@media (min-width: 768px) {
    .hero__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}