/* .block-div__image {
    float: right;
} */

.block-div__background {
    background-color: var(--bg-color);
}

.block-div__content {
    
}

/* title block */
.block-div__title {
    margin-top: 20px;
    margin-bottom: 20px;;
}

.block-div__title-text {
    color: var(--title-color);
    /* margin: 0px; */
    font-size: var(--title-font-size);
    font-weight: bold;
    /* font-family: 'Rubik', sans-serif; */
    font-family: var(--title-font);

}
/* 2 */
.block-div__text-block {
    color: var(--text-block-color);
    /* margin: 0px; */
    font-size: 1.2rem;
    /* font-family: 'Poppins', sans-serif; */
    font-family: var(--text-block-font);
}

/* spisok */
.block-div__benefits {
    margin-top: 20px;
}

/* note */
.block-div__note {
    margin-top: 20px;
}


.block-div__note-text-highlighted {
    color: var(--note-text-highlighted);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.block-div__note-symbol{
    color: var(--note-symbol);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}

.block-div__note-text   {
    color: var(--note-text);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.block-div__benefit-description {
    color: var(--benefit-description-color);
    margin: 10;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none; /* Прибрати стандартний маркер */
  }

.block-div__benefit_li-img {
    display: inline;
    position: relative;
    top: 4px;
} 
  
  /* li::before {
    content: ""; /* Додати порожній елемент для встановлення картинки як маркер */
    /* display: inline-block; Зробити елемент блоковим для встановлення розміру та відступів */
    /* width: 20px; Ширина картинки */
    /* height: 24px; Висота картинки */
    /* background-image: url('../img/body/main/blocks/rabbit/heart.svg'); шлях до картинки */
    /* background-size: contain; розмір картинки під контейнером */
    /* margin-right: 10px; Відступ між картинкою та текстом */
  /* } */