/* .our-help__image {
    float: right;
} */

/* .our-help__background {
    background-color: var(--bg-color);
} */

.our-help__content {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
}

/* Pictures */
/* .our-help__image {
    float: right;
    width: 50%;
}

.our-help-content-text {
    text-align: left;
    width: 50%;
} */

/* title block */
.our-help__title {
    margin-top: 20px;
    margin-bottom: 20px;;
}

.our-help__title-text {
    color: var(--title-color);
    /* margin: 0px; */
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: var(--title-font);

}
/* 2 */
.our-help__text-block {
    color: var(--text-block-color);
    /* margin: 0px; */
    font-size: 1.3rem;
    font-family: var(--text-block-font);
}

/* spisok */
.our-help__benefits {
    margin-top: 20px;
}

/* note */
.our-help__note {
    margin-top: 20px;
}


.our-help__note-text-highlighted {
    color: var(--note-text-highlighted);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

/* .our-help__note-symbol{
    color: var(--note-symbol);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
} */

.our-help__note-text   {
    color: var(--note-text);
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.our-help__benefit-description {
    color: var(--benefit-description-color);
    margin: 10;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none; /* Прибрати стандартний маркер */
  }

.our-help__benefit_li-img {
    display: inline;
    position: relative;
    top: 4px;
} 
  
  /* li::before {
    content: ""; /* Додати порожній елемент для встановлення картинки як маркер */
    /* display: inline-block; Зробити елемент блоковим для встановлення розміру та відступів */
    /* width: 20px; Ширина картинки */
    /* height: 24px; Висота картинки */
    /* background-image: url('../img/body/main/blocks/our-help/heart.svg'); шлях до картинки */
    /* background-size: contain; розмір картинки під контейнером */
    /* margin-right: 10px; Відступ між картинкою та текстом */
  /* } */