.our-help__content {
    align-items: center;
}

/* title block */
.our-help__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-help__title-text {
    color: var(--title-color);
    /* margin: 0px; */
    font-size: var(--fs-main-title);
    font-weight: bold;
    font-family: var(--title-font);

}

/* 2 */
.our-help__text-block {
    color: var(--dark-txt-color);
    /* margin: 0px; */
    font-size: var(--fs-section-title);
    font-family: var(--text-font);
}

/* spisok */
.our-help__benefits {
    margin-top: 20px;
}

/* note */
.our-help__note {
    margin-top: 20px;
}


.our-help__note-text-highlighted {
    color: var(--orange-color);
    font-size: 0.9rem;
    font-family: var(--text-font);
    font-style: italic;
}

.our-help__note-text {
    color: var(--dark-txt-color);
    font-size: 0.9rem;
    font-family: var(--text-font);
    font-style: italic;
}

.our-help__benefit-description {
    color: var(--light-txt-color);
    margin: 10;
    font-size: 1.2rem;
    font-family: var(--text-font);
}

ul {
    /* Прибрати стандартний маркер */
    list-style-type: none;
}

.our-help__benefit_li-img {
    display: inline;
    position: relative;
    top: 4px;
}

/* li::before {
    content: ""; /* Додати порожній елемент для встановлення картинки як маркер */
/* display: inline-block; Зробити елемент блоковим для встановлення розміру та відступів */
/* width: 20px; Ширина картинки */
/* height: 24px; Висота картинки */
/* background-image: url('../img/body/main/blocks/our-help/heart.svg'); шлях до картинки */
/* background-size: contain; розмір картинки під контейнером */
/* margin-right: 10px; Відступ між картинкою та текстом */
/* } */