.block-div__title {
    color: rgb(4, 15, 115);
    margin: 20;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
}

.block-div__text-block {
    color: rgb(66, 72, 117);
    margin: 10;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}


.block-div__benefit-description {
    color: rgb(106, 110, 143);
    margin: 10;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none; /* Убрать стандартный маркер */
  }
  
  li::before {
    content: ""; /* Добавить пустой элемент для установки картинки в качестве маркера */
    display: inline-block; /* Сделать элемент блочным для установки размера и отступов */
    width: 20px; /* Ширина картинки */
    height: 24px; /* Высота картинки */
    background-image: url('img/body/main/blocks/rabbit/heart.svg'); /* Укажите путь к вашей картинке */
    background-size: contain; /* Размер картинки под контейнером */
    margin-right: 10px; /* Отступ между картинкой и текстом */
  }