/* ? */
.brand-cards {
    padding-top: 60px;
    padding-bottom: 60px;
}

.brand-cards__card-item {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 40px;
    background-color: rgb(251, 241, 231);
}

.brand-cards__card-image {
    max-height: 100%;
    position: absolute;
}

.brand-cards__content {
    position: relative;
    padding-inline: 50px;
}

.brand-cards__carousel-button-next.swiper-button-next,
.brand-cards__carousel-button-prev.swiper-button-prev {
    /* position: absolute; */
    /* top: var(--swiper-navigation-top-offset, 50%); */
    /* width: calc(var(--swiper-navigation-size)/ 44 * 27); */
    /* height: var(--swiper-navigation-size); */
    /* margin-top: calc(0px - (var(--swiper-navigation-size)/ 2)); */
    z-index: 10;
    /* cursor: pointer; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    color: gray;

}