.brand-cards__card-item {
    background-color: rgb(251, 241, 231);

    display: grid;
    grid-template-rows: 60px;

    /* display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 20px; */

    padding: 20px;
    border-radius: 40px;
    aspect-ratio: auto;
}

.brand-cards__card-image {
    max-width: 80%;
    height: auto;
    display: grid;
    place-items: center;
}


/* .brand-cards__content {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;

    @media (min-width: 767px) {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 20px;
    }
} 

.brand-cards__carousel {
    width: 200px;
    height: 100px;
  } */