.our-help__content {
    align-items: center;
}

/* title block */
.our-help__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-help__title-text {
    color: var(--title-color);
    font-size: var(--fs-main-title);
    font-weight: bold;
    font-family: var(--title-font);

}

.our-help__text-block {
    color: var(--dark-txt-color);
    font-size: var(--fs-section-title);
    font-family: var(--text-font);
}

.our-help__benefits {
    margin-top: 20px;
}

.our-help__note {
    margin-top: 20px;
}

.our-help__note-text-highlighted {
    color: var(--orange-color);
    font-size: 0.9rem;
    font-family: var(--text-font);
    font-style: italic;
}

.our-help__note-text {
    color: var(--dark-txt-color);
    font-size: 0.9rem;
    font-family: var(--text-font);
    font-style: italic;
}

.our-help__benefit-description {
    color: var(--light-txt-color);
    margin: 10;
    font-size: 1.2rem;
    font-family: var(--text-font);
}

ul {
    list-style-type: none;
}

.our-help__benefit_li-img {
    display: inline;
    position: relative;
    top: 4px;
}
