@media(max-width: 1150px){
    .footer__description{
        width: 130px;
    }
}
@media(max-width: 767px){
    .footer__content{
        display:flex;
        flex-direction: column;
        justify-content: center;        
    }
    .footer__second-block, .footer__third-block, .footer__fourth-block, .footer__fifth-block, .footer__first-block{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 30%;
        width: max-content;
    }
    .footer__subscribe-list{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0%;
        width: max-content;
    }
    .footer__description{
        width: 100%;
    }
    .header__social-social{
        margin-top: 20px;
    }
    
}
.footer__content{
    margin-left: 90px;
}
.footer__logo{
    align-items: stretch;
    box-sizing: border-box;
    display: block;
    height: 43.1406px;
    justify-content: center;
    max-width: 100%;
    overflow-y: clip;
    overflow-x: clip;
    width:280px;
    height:38px;
}
.footer{
    background-color:#fff6ed;
    border-color: #fff6ed;
    flex-direction: row;
}
ul{
    list-style-type: none;
}
.footer__subscribe-button{
    background-color: orangered;
    border-style: none;
    width: 180px;
    height: 38.8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    max-width: 100%;
    font-family: Poppins, sans-serif;
    align-items: stretch;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border-radius: 30px;
    color:white;
    font-weight: 700;
    cursor: pointer;
}
.footer__subscribe-input{
    border-style: none;
    width: 180px;
    height: 38.8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    max-width: 100%;
    font-family: Poppins, sans-serif;
    align-items: stretch;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border-radius: 30px;
    font-weight: 700;
    text-align: center;
}
.footer__support-list, .footer__quick-links-list, .footer__navigation-list{
    height: 172px;
    width: 210px;
    font-size: 16px;
    line-height: 16px;
    padding: 0%;
}
.footer__navigation, .footer__subscribe, .footer__quick-links, .footer__support{
    box-sizing: border-box;
    color:rgb(4,15,115);
    display: inline;
    font-family: Rubik,sans-serif;
    font-size: 24px;
    font-style: normal;
    height: auto;
    justify-content: center;
    letter-spacing: normal;
    line-height: 34px;
    text-align: left;
    text-transform:none;
    font-weight: 600;
    vertical-align: baseline;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-font-smoothing:antialiased;
    overflow-wrap:break-word;
    width: auto;
    margin-block-end: -10px;
    margin-block-start: -10px;
    margin-inline-start: -5px;
    margin-inline-end: -5px;
}
.footer__leave-your-email{
    color:rgb(106,110,143);
    font-weight: 500;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    vertical-align: baseline;
    text-transform: none;
    text-align: left;
    font-size: 14px;
    height: auto;
    width: auto;
    display: inline;
}
.footer__subscribe_hr, .footer__links_hr, .footer__nav_hr, .footer__support_hr{
    stroke:none;
    line-height: 16px;
    font-size: 16px;
    height: 1.8px;
    width: 37.8px;
    text-align: left;
    margin-left: 0%;
    background-color:orangered;
    border-color: orangered;
}
a:link{
    text-decoration: none;
}
.social__icon{
    fill:orangered;
    fill-rule: evenodd;
    color:orangered;
    cursor: pointer;
}
.footer__subscribe-button:hover{
    background: darkblue;
}
.footer__description{
    font-family: Poppins,sans-serif;
    font-weight: 500px;
    cursor: default;
}
.footer__content{
    display: flex;
    flex:1;
    box-sizing: border-box;
}
.footer__navigation-list_features_our-team, .footer__navigation-list_about-us, .footer__navigation-list_features, .footer__navigation-list_testimonials, .footer__quick-links-list_services, .footer__quick-links-list_faq, .footer__quick-links-list_blog, .footer__quick-links-list_help, .footer__support-list_join-our-team, .footer__support-list_vet-consultation, .footer__support-list_extra-services, .footer__support-list_contacts{
    height: 23px;
    width: 74.26px;
    font-size: 15px;
    font-family: Poppins,sans-serif;
    color: rgb(106,110,143);
    font-weight: 500;
    box-sizing: border-box;
    text-align: left;
    line-height: normal;
    display: block;
    text-decoration-style: solid;
    cursor: pointer;
    -webkit-box-direction: normal;
    margin-top: 10px;
    font-weight: 500;
    white-space: nowrap;
}
.footer__first-block, .footer__second-block, .footer__third-block, .footer__fourth-block, .footer__fifth-block {
    float: left;
    width: 19.5%;
    box-sizing: border-box;
}
.footer__first-block, .footer__second-block, .footer__third-block, .footer__fourth-block {
    margin-right: 0%;
}
.footer__first-block{
    display:grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 200px;
}
.footer__subscribe-list{
    padding:0%;
}
.footer__subscribe-button{
    margin-top:10px;
}
.footer__subscribe-input{
    margin-top:10px;
}
.footer__copyright-creted{
    font-weight: 500;
    font-size: 13px;
    color:rgb(106,110,143);
    font-family: Poppins, sans-serif;
    width:50%;
    margin-block-end: -28px;
}
.footer__copyright-reserved{
    font-weight: 500;
    font-size: 13px;
    color:rgb(106,110,143);
    font-family: Poppins, sans-serif;
    text-align: right;
    width: -39%;
}
.footer__navigation-list_features_our-team:hover, .footer__navigation-list_about-us:hover, .footer__navigation-list_features:hover, .footer__navigation-list_testimonials:hover, .footer__quick-links-list_services:hover, .footer__quick-links-list_faq:hover, .footer__quick-links-list_blog:hover, .footer__quick-links-list_help:hover, .footer__support-list_join-our-team:hover, .footer__support-list_vet-consultation:hover, .footer__support-list_extra-services:hover, .footer__support-list_contacts:hover{
    color:black;
    text-decoration: underline;
}
