
.team__members{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.member__job{
    color: var(--note-symbol);
    font-family: var(--title-font);
}
.team__title{
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}
.team__desc{
    color: var(--note-text);
    font-family: var(--title-font);
}
.member__name{
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
}
.member__name, .member__job, .team__desc, .team__title{
    position: relative;
    text-align: center;
}